@use "sass:color";

$background: rgb(247, 247, 247);
$foreground: rgb(1, 1, 1);

$primary-color: rgb(245, 165, 36);
$primary-color-hover: color.adjust($primary-color, $lightness: -3%);
$primary-color-disabled: color.adjust($primary-color, $lightness: 15%);
$danger-color: rgb(243, 18, 96);
$danger-color-hover: color.adjust($danger-color, $lightness: -3%);
$danger-color-disabled: color.adjust($danger-color, $lightness: 15%);

$transition-duration: 0.3s;
$transition-timing-function: ease-in-out;

$element-background: rgb(255, 255, 255);

$container-width: 85vw;
$container-max-width: 400px;
$container-padding-x: 0;
$container-padding-y: calc((100vw - $container-width) / 2);
$container-flex-gap: 1rem;

$spinner-size: 1.5rem;
$spinner-size-small: 1rem;
$spinner-size-large: 2.5rem;
$spinner-border-width: 4px;
$spinner-border-width-small: 2px;
$spinner-border-width-large: 5px;
$spinner-animation-duration: 0.8s;
$spinner-animation-timing-function: linear;

$input-height: 50px;
$input-padding-x: 1.35rem;
$input-padding-y: 0;
$input-border-radius: 2rem;
$input-border-width: 2px;
$input-border-color: rgb(220, 220, 220);
$input-flex-gap: 0.35rem;
$input-label-font-size: 0.8rem;
$input-margin-bottom: 1rem;
$input-transition-duration: $transition-duration;
$input-transition-timing-function: $transition-timing-function;

$button-height: $input-height;
$button-padding-x: $input-padding-x;
$button-padding-y: $input-padding-y;
$button-border-radius: 2rem;
$button-flex-gap: 0.5rem;
$button-transition-duration: $transition-duration;
$button-transition-timing-function: $transition-timing-function;

$navbar-background: $element-background;
$navbar-height: 70px;
$navbar-color: rgb(100, 100, 100);
$navbar-box-shadow: 0 -5px 50px rgba(0, 0, 0, 0.08);
$navbar-menu-flex-gap: 2.5rem;
$navbar-menu-link-font-size: 0.8rem;
$navbar-menu-link-flex-gap: 0.3rem;
$navbar-menu-link-transition-duration: $transition-duration;
$navbar-menu-link-transition-timing-function: ease-out;

$avatar-size: 2.5rem;
$avatar-size-large: 4rem;
$avatar-font-size: 1rem;
$avatar-font-size-large: 1.5rem;
$avatar-font-weight: 400;
$avatar-border-radius: 3rem;
$avatar-background: rgb(215, 215, 215);

$profile-card-flex-gap: 1rem;
$profile-card-name-font-size: 1.75rem;
$profile-card-name-font-weight: 600;
