@use "variables" as *;

@mixin button-color(
  $attrName,
  $background,
  $background-hover,
  $background-disabled,
  $foreground
) {
  &[color="#{$attrName}"] {
    background: $background;
    color: $foreground;

    &:not(:disabled):hover {
      background: $background-hover;
    }

    &:disabled {
      background: $background-disabled;
    }

    .spinner,
    .icon {
      border-color: $foreground;
    }
  }
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: $button-flex-gap;
  width: 100%;
  height: $button-height;
  padding: $button-padding-y $button-padding-x;
  border-radius: $button-border-radius;
  background: $primary-color;
  color: $foreground;
  cursor: pointer;
  transition: background-color $button-transition-duration
    $button-transition-timing-function;

  &:not(:disabled):hover {
    background: $primary-color-hover;
  }

  &:disabled {
    cursor: text;
    background: $primary-color-disabled;
  }

  .spinner,
  .icon {
    border-color: $foreground;
  }

  @include button-color(
    "danger",
    $danger-color,
    $danger-color-hover,
    $danger-color-disabled,
    $background
  );
}
