@use "variables" as *;

.navbar {
  &__wrapper {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: $navbar-height;
    background: $navbar-background;
    box-shadow: $navbar-box-shadow;
    animation-name: fade-in;
    animation-duration: $transition-duration;
    animation-timing-function: $transition-timing-function;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $navbar-menu-flex-gap;
    height: $navbar-height;

    &__item {
      list-style: none;
    }

    &__link {
      display: flex;
      flex-direction: column;
      gap: $navbar-menu-link-flex-gap;
      font-size: $navbar-menu-link-font-size;
      color: $navbar-color;
      transition: color $navbar-menu-link-transition-duration
        $navbar-menu-link-transition-timing-function;

      .icon {
        fill: $navbar-color;
        transition: fill $navbar-menu-link-transition-duration
          $navbar-menu-link-transition-timing-function;
      }

      &.active {
        color: $primary-color;

        .icon {
          fill: $primary-color;
        }
      }
    }
  }
}
