@use "variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: $container-flex-gap;
  width: $container-width;
  max-width: $container-max-width;
  padding: $container-padding-y $container-padding-x;

  &__title {
    font-size: 2rem;
    font-weight: 800;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }
}
